@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap');
*,body{
    background-color: #343a40;
    margin: 0;
    padding: 0;
}
.bgimg{
    width: 100%;
}
.bgimg image{
    width: match-parent;
}
ul{
    margin-left: auto;
    margin-right: 5px;
}
.home-content{
    text-align: center;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
}
.home-content h3{
    margin-bottom: 0;
}
#about{
    padding: 0 100px;
    color: azure;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.abt-content{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: justify;
    width: 50%;
    padding: 5px;
}
.abt-content-2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: justify;
    width: 50%;
    padding: 5px;
    padding-left: 100px;
}
.abt-content ul{
    padding-left: 2.5em;
}
#skill{
    padding: 150px;
}
#skill h1,#proj h1,#contact h1{
    font-family: 'Poppins',sans-serif;
    color: turquoise;
    text-align: center;
}
.skill-container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skill-set{
    font-size: 100px;
    color: white;
    padding: 50px;
}
.skill-set img{
    width: 100px;
    height: 100px;
}
#proj p,#contact .contact-details{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    color: wheat;
    padding: 40px 100px 10px;
}
#proj .img-con .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#contact .contact-details a, #contact .contact-details p{
    color: whitesmoke;
    font-size: 25px;
}
footer{
    text-align: center;
    color: pink;
    font-size: 15px;
    font-family: 'Grandstander';
    padding:50px 0 10px;
}
@media screen and (max-width: 960px){
    #footer{
        max-width: 600px;
    }
    .abt-content,.abt-content-2{
        width: 100%;
        padding: 5px 5px 5px;
    }
    .abt-content-2{
        text-align: center;
    }
    .abt-content-2 h4{
        color: turquoise;
        padding-bottom: 10px;
    }
    .abt-content-2 ul{
        list-style: none;
        line-height: 40px;
    }
    #contact .contact-details{
        padding: 20px;
    }
    #contact .contact-details a.ma{
        font-size: 15px;
    }

}
